
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row text-center">
        <div class="col mt-2">
            <a class="btn btn-outline-secondary p-5" href="/admin/Menus">
                <i class="fa fa-dashboard fa-5x"></i>
                <br>
                <h3>
                    <b>
                        Menus
                    </b>
                </h3>
            </a>
        </div>
        <div class="col mt-2">
            <a class="btn btn-outline-secondary p-5" href="/admin/Banner">
                <i class="fa fa-bars fa-5x"></i>
                <br>
                <h3>
                    <b>
                        Banners
                    </b>
                </h3>
            </a>
        </div>
        <div class="col mt-2">
            <a class="btn btn-outline-secondary p-5" href="/admin/product">
                <i class="fa fa-shopping-cart fa-5x"></i>
                <br>
                <h3>
                    <b>
                        Products
                    </b>
                </h3>
            </a>
        </div>
        <div class="col mt-2">
            <a class="btn btn-outline-secondary p-5" href="/admin/User">
                <i class="fa fa-users fa-5x"></i>
                <br>
                <h3>
                    <b>
                        Users
                    </b>
                </h3>
            </a>
        </div>
    </div>
    <div class="row mt-4 text-center">
        <div class="col mt-2">
            <a class="btn btn-outline-secondary p-5" href="/admin/Coupon">
                <i class="fa fa-list fa-5x"></i>
                <br>
                <h3>
                    <b>
                        Coupons
                    </b>
                </h3>
            </a>
        </div>
        <div class="col mt-2">
            <a class="btn btn-outline-secondary p-5" href="/admin/Order">
                <i class="fa fa-list fa-5x"></i>
                <br>
                <h3>
                    <b>
                        Orders
                    </b>
                </h3>
            </a>
        </div>
        <div class="col mt-2">
            <a class="btn btn-outline-secondary p-5" href="/admin/Comment">
                <i class="fa fa-comments fa-5x"></i>
                <br>
                <h3>
                    <b>
                        Comments
                    </b>
                </h3>
            </a>
        </div>
        <div class="col mt-2">
            <a class="btn btn-outline-secondary p-5" href="/admin/Setting/edit">
                <i class="fa fa-gear fa-5x"></i>
                <br>
                <h3>
                    <b>
                        Settings
                    </b>
                </h3>
            </a>
        </div>
    </div>
</div>

<style>
    .col a {
        width: 250px;
    }
</style>


